.market_search {
  background-color: whitesmoke;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: +200;
  top: 0;
  overflow: hidden; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.15rem;
  height: 1.15rem;
  text-align: center;
  background: white;
  border-bottom: 1px solid lightgrey;
  z-index: +2; }
  .header input {
    background: whitesmoke;
    border: 1px solid lightgrey;
    line-height: 0.71rem;
    font-size: 0.35rem;
    padding-top: 0.05rem;
    border-radius: 0.15rem;
    width: 73%;
    outline: none;
    text-indent: 0.2rem; }
    .header input a {
      display: block;
      width: 100%;
      color: grey; }
      .header input a span {
        padding-right: 0.1rem; }
  .header > a, .header > span {
    width: 10%;
    display: inline-block;
    position: relative;
    color: grey; }
    .header > a span, .header > span span {
      position: absolute;
      top: -0.28rem;
      left: 0.25rem;
      display: block;
      width: 0.5rem;
      height: 0.5rem; }
      .header > a span:after, .header > span span:after {
        transform: rotateZ(45deg);
        display: block;
        width: 0.28rem;
        height: 0.28rem;
        content: "";
        border: 1px solid grey;
        border-width: 0 0 1px 1px; }
  .header > span {
    font-size: 1rem;
    line-height: 0;
    position: relative;
    top: 0.2rem; }
  .header .nav_block {
    text-align: left;
    position: absolute;
    top: 1.2rem;
    right: 0.2rem;
    height: 3.5rem;
    border-radius: 0.15rem;
    width: 2.8rem;
    background: black;
    z-index: +1; }
    .header .nav_block a p {
      line-height: 0.85rem;
      font-size: 0.35rem;
      color: white; }
      .header .nav_block a p span {
        padding: 0 0.3rem; }
  .header .nav_block:after {
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    background: black;
    content: "";
    top: -0.15rem;
    right: 0.4rem;
    transform: rotateZ(45deg); }

.search_content {
  background: white;
  border-bottom: 1px solid lightgrey;
  margin-top: 1.2rem; }
  .search_content .ready_made {
    position: relative;
    width: 90%; }
    .search_content .ready_made h2 {
      font-size: 0.39rem;
      line-height: 1.5rem;
      text-indent: 0.18rem; }
      .search_content .ready_made h2 span {
        padding-right: 0.2rem; }
    .search_content .ready_made a {
      display: inline-block;
      border: 1px solid lightgrey;
      border-radius: 0.15rem;
      margin: 0 0 0.3rem 0.3rem; }
      .search_content .ready_made a span {
        display: block;
        text-align: center;
        padding: 0.15rem 0.25rem;
        color: grey;
        font-size: 0.35rem; }
  .search_content nav {
    width: 100%;
    padding-bottom: 1.2rem;
    height: 100%;
    position: absolute;
    overflow: hidden; }
    .search_content nav ul {
      position: relative;
      overflow: auto;
      height: 100%; }
      .search_content nav ul li {
        background: white;
        border-bottom: 1px solid lightgrey; }
        .search_content nav ul li a {
          text-indent: 0.25rem;
          line-height: 1.06rem;
          display: block; }
          .search_content nav ul li a span {
            font-size: 0.35rem;
            color: grey; }
      .search_content nav ul:after {
        content: "no more";
        text-align: center;
        height: 2rem;
        background: white;
        display: block; }

/*# sourceMappingURL=Market_search.css.map */
